[NetDev]
Name=wg1
Kind=wireguard
Description=WireGuard Tunnel Endpoint

[WireGuard]
ListenPort=51821
PrivateKey=WD03185ymWooZ1haO04xZp8iUu7rBi9FpmSKDLbYSE4=

[WireGuardPeer]
PublicKey=3Q/OBvIu7xfOuii7731HrCAjCcsVse6q9dXV57u+W3A=
AllowedIPs=0.0.0.0/0
Endpoint=165.227.7.58:51821

# Recommended only on routers that do not provide their own listener
PersistentKeepalive=25
